header {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.header_link li{
    display: inline-block;
    padding: 20px;
}

.header_link ul {
    list-style: none;
}

@media screen and (max-width: 768px){
    header{
        display: none;
    }
}