.suggest {
    padding: 10px;
    list-style: none;
    border-radius: 5px;
    background-color: antiquewhite;
}

.suggest li button{
    background-color: antiquewhite;
    color: black;
    /*border: none;*/
    font-size: 20px;
    margin: 0;
}
.suggest li{
    background-color: antiquewhite;
    font-size: 20px;
    margin: 0;
}
